body{
  margin: 0;
  background-color:whitesmoke;  
}
html {
  margin: 0;
  scroll-behavior: smooth;
}
.topo {
  background-color: darkblue;
  padding: 1px 10px;
  border-radius: 15px;
}
.bloco {
  margin: 0 auto;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  width: 100%;
  max-width: 500px;
  padding: 30px;
  border-radius: 20px;
  background-color: whitesmoke;
  border: 3px solid darkblue;
  box-shadow: 0 0 2px darkblue,
              0 0 5px darkblue,
              0 0 10px darkblue;
  text-align: center;

  transition: background-color 0.3s ease, transform 0.3s ease;
}
.bloco:hover{
  transform: scale(1.05);
}
.bloco img {
    display: block;
    margin: 0 auto;

    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: 300px;
    object-fit: cover;
}
.bloco button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  cursor: pointer;

  background-color: blue;
  color: whitesmoke;
  border: 3px solid darkblue;
  border-radius: 10px;

  padding: 10px 20px;
}
.bloco button:hover{
  background-color: whitesmoke;
  color: blue;
  border: 3px solid darkblue;
  border-radius: 10px;
}
h1{
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-size: 42px;
  text-align: center;
}
.primeiro p{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: center;
  padding: 20px 20px 50px 20px;
}

h2{
  color: blue;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-size: 50px;
  text-align: center;
}
#sobre{
  margin-top: 0;
  padding: 30px 100px;
}
#sobre p{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: center;
  padding: 0px 20px;
}
.projetos {
  text-decoration: none;
  padding: 20px;
}
.projetos button{
  margin: 0 auto;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  cursor: pointer;

  background-color: blue;
  color: whitesmoke;
  border: 3px solid darkblue;
  border-radius: 10px;

  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.projetos button:hover{
  transform: scale(1.05);

  background-color: whitesmoke;
  color: blue;
  border: 3px solid darkblue;

  border-radius: 10px;
}
.caixa1 {
  width: 1000px;
  margin: 50px auto;

  background-color: whitesmoke;
  border: 3px solid darkblue;
  border-radius: 20px;
}
.caixa2 {
  width: 1000px;
  margin: 50px auto;

  background-color: whitesmoke;
  border: 3px solid darkblue;
  border-radius: 20px;
}