<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Mostra Técnica 2026</title>
  </head>
  <body>
    <h1>Mostra Técnica 2026</h1>
    
    <p>Obrigado por vir a Mostra Técnica 2026 da Etec Philadelpho Gouvêa Netto! <br> Você está no barracão de Eletrônica, visite os projetos!</p>
    <div class="bloco">
      <img src="https://images.unsplash.com/photo-1649559295229-961cbad5d13f?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZXNwMzJ8ZW58MHx8MHx8fDA%3D" alt="Foto do ESP32" />
      <a href="#sobre">Saiba mais sobre a mostra técnica.</a>
      
      <section id="sobre">
         <h1>Saiba mais sobre a mostra técnica.</h1>
         
         <p>A mostra técnica da Etec Philadelpho Gouvêa Netto é um evento que acontece anualmente onde alunos têm a oportunidade de mostrarem seus projetos desenvolvidos em grupo.</p>
      </section>
    </div>

    <a href="{{ url_for('projetos') }}">Ver os projetos</a>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>